<h2>Do you want to log out?</h2>

<form id="logout" method="post" action="/sessions">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="logout" value = "Logout Now.">
</form>
